body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}
input {
	background-color: #3882f6;
	color: #f9faf8;
	border-radius: 5px;
	font-size: 18px;
	border-style: none;
	padding: 5px;
}
footer {
	display: flex;
	justify-content: space-around;
	align-content: center;
	padding: 50px;
	color: #e5e7eb;
}
.action {
	display: flex;
	background-color: #3882f6;
	justify-content: space-around;
	align-items: center;
	width: 800px;
	border-radius: 10px;
}
.characters {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	gap: 50px;
}
.bioBox {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 200px;
}
.bioBox img {
width: 100px;
}

.footerButton input{
	border: 1px solid white;
	border-radius: 5px;
}
.header {
	display: flex;
	background-color: #1f2937;
	justify-content: space-around;
	color: #f9faf8;
	font-size: 18px;
	gap: 200px;
	padding: 20px;
}
.headerNav {
}
.hero {
	background-color: #1f2937;
	display: flex;
	justify-content: space-around;
	padding: 20px;
}
.hero h1 {
	color: #f9faf8;
	font-weight: 1000;
	font-size: 48px;
	width: 800px;
}
.hero p {
	font-size: 18px;
	color: #e5e7eb;
}
.navList li {

	display: inline;
	margin-right: 14px;
}
.quote {
	background-color: #e5e7eb;
	font-size: 36px;
	font-style: italic;
	color: #1f2937;
	display: flex;
	align-content: center;
	justify-content: center;
}


a {
color: #e5e7eb;
	text-decoration: none;
}
